body {
  height: 100vh;
}
.main_container {
  background-color: grey;
}
.navigation {
  background-color: #333;
  border: 1px solid black;
}
.nav-tabs {
  padding: 10px;
}
.main_content {
  background-color: green;
  border: 1px solid black;
  padding: 25px;
  text-align: center;
  height: 500px;
}
.button_navigation {
  padding: 10px;
  background-color: #333;

}
.jumbotron_background {
  background-color: blue;
  padding: 25px;
  border: 1px solid black;
}
.jumbotron {
  height: 500px;
  text-align: center;
  background-color: black;
  color: white;
}


.footer {
  background-color: orange;
  text-align: center;
  padding: 25px;
  border: 1px solid black;
}
